@font-face {
    font-family: 'NeoSansIntel';
    src: url('fonts/NeoSansIntel.ttf');
}

@font-face {
    font-family: 'NeoSansIntelLight';
    src: url('fonts/NeoSansIntel-Light.ttf');
}

@font-face {
    font-family: 'NeoSansIntelItalic';
    src: url('fonts/NeoSansIntel-Italic.ttf');
}

@font-face {
    font-family: 'NeoSansIntelMedium';
    src: url('fonts/NeoSansIntel-Medium.ttf');
}

@font-face {
    font-family: 'NexaLight';
    src: url('fonts/NexaLight.otf');
}

}body {
    margin: 0px;
    margin-left: 1px;
    margin-right: 1px;
    padding: 0px;
}

.conference-head {
    background: #3666cc;
    text-align: center;
    height: 60px;

}
.effect1{
    -webkit-box-shadow: 0 10px 6px -6px #777;
       -moz-box-shadow: 0 10px 6px -6px #777;
            box-shadow: 0 10px 6px -6px #777;
}
.conference-banner{
    color:#FFFF00;
    font-family: 'Open Sans', sans-serif;
    font-weight: lighter;
    font-size: 30px;
    margin: 0px;
    padding: 0px;
    margin-top: 10px;
}
.conference-stage{
    background-image: url('../img/conference-background.jpg');
    min-height: 400px;
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    background-color: #D2CEC5;

}

.footer{
    height: 130px;
    background-image: url('../img/bottombg.gif');
    text-align: center;
}

conference-tv{

}

.tv-screen{
    margin: 5%;
    cursor: pointer;
     -webkit-box-shadow: 8px 10px 33px 0px rgba(0,0,0,0.75);
-moz-box-shadow: 8px 10px 33px 0px rgba(0,0,0,0.75);
box-shadow: 8px 10px 33px 0px rgba(0,0,0,0.75);
}

.left-tv-button{
    position: absolute;
margin-left: -35px;
    margin-top: 35%;
     cursor: pointer;
}

.right-tv-button{
position: absolute;
    margin-top: 35%;
     cursor: pointer;
}

.thumbs-container{
    margin-top: 15px;
}

.text-container{
   color:#FFFF00;
    font-family: 'Open Sans', sans-serif;
    font-weight: lighter;
    font-size: 20px;
    text-align: center;
}
.conference-thumbs{
    margin-right: 5px;
    cursor: pointer;
     -webkit-box-shadow: 8px 10px 33px 0px rgba(0,0,0,0.75);
-moz-box-shadow: 8px 10px 33px 0px rgba(0,0,0,0.75);
box-shadow: 8px 10px 33px 0px rgba(0,0,0,0.75);
}
